In [7]:
import pandas as pd
import numpy as np

In [8]:
dict = {'c1' : [1, 2, 3],
        'c2' : [4, 5, 6],
        'c3' : [7, 8, 9]}
df = pd.DataFrame(dict)
display(df)

   c1  c2  c3
0   1   4   7
1   2   5   8
2   3   6   9

In [20]:
display(df.head(), df.tail())
print('~~'*30)
display(df.columns)
display(df.columns.values) # array 형태로 확인
print('~~'*30)
# 불러오기 pd.read_csv('파일이름.확장자') // 저장하기 df.to_csv('파일이름.확장자')

display(list(df)) # 열 인덱스로 칼럼명들 반환
print('~~'*30)
display(df.dtypes) # 열 자료형 확인
print('~~'*30)
display(df.info()) # 자료형, 값, 개수 확인
print('~~'*30)
display(df.describe())
print('~~'*30)

   c1  c2  c3
0   1   4   7
1   2   5   8
2   3   6   9

   c1  c2  c3
0   1   4   7
1   2   5   8
2   3   6   9

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

Index(['c1', 'c2', 'c3'], dtype='object')

array(['c1', 'c2', 'c3'], dtype=object)

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

['c1', 'c2', 'c3']

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

c1    int64
c2    int64
c3    int64
dtype: object

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   c1      3 non-null      int64
 1   c2      3 non-null      int64
 2   c3      3 non-null      int64
dtypes: int64(3)
memory usage: 200.0 bytes

None

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

        c1   c2   c3
count  3.0  3.0  3.0
mean   2.0  5.0  8.0
std    1.0  1.0  1.0
min    1.0  4.0  7.0
25%    1.5  4.5  7.5
50%    2.0  5.0  8.0
75%    2.5  5.5  8.5
max    3.0  6.0  9.0

In [46]:
display(df[['c1', 'c2']].describe()) # c1, c2열만 확인
print('~~'*30)
display(df.sort_values(by = 'c1', ascending = False)) # c1열 기준 역순 정렬
print('~~'*30)
display(df.sort_values(by = ['c1', 'c2'], ascending = [True, False])) # c1열 기준으로 정렬, c1값이 같을 경우 c2열 기준 역순 정렬
print('~~'*30)
display(df.reset_index(drop = False)) # False는 보존 리셋 True는 완전 리셋
print('~~'*30)
# type_c1 = type(df['c1']) 어따 쓰는건지 모르겠음

        c1   c2
count  3.0  3.0
mean   2.0  5.0
std    1.0  1.0
min    1.0  4.0
25%    1.5  4.5
50%    2.0  5.0
75%    2.5  5.5
max    3.0  6.0

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

   c1  c2  c3
2   3   6   9
1   2   5   8
0   1   4   7

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

   c1  c2  c3
0   1   4   7
1   2   5   8
2   3   6   9

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

   index  c1  c2  c3
0      0   1   4   7
1      1   2   5   8
2      2   3   6   9

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [48]:
display(df['c1'].unique())
print('~~'*30)
print(df['c1'].value_counts())
print('~~'*30)

array([1, 2, 3], dtype=int64)

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1    1
2    1
3    1
Name: c1, dtype: int64